# WS (websocket) server port
WS_PORT=8080

# HTTP (Express API) port
HTTP_PORT=8081

# Redis
REDIS_URL=redis://127.0.0.1:6379

# CORS for API
CORS_ORIGIN=https://videolivesystem.pl

# JWT
JWT_SECRET=change_me_please

# admins.json path (optional)
ADMINS_FILE=./admins.json
